*{
    font-size: 30pt;
    font-family: 'Oswald';
    font-weight: 100;
}

.texto{
    padding: 20px;
}

.texto::first-line{
    color: red;
    font-size: 2em;
}
input::selection{
    color: violet;
    background-color:green;
}