*{
    font-size: 30pt;
    font-family: 'Oswald';
}

b{
    height: 150px;
    width: 150px;
    margin: 20px;
    border: 10px solid red;
    background-color: blue;
    display: block;
}

/*Quedé en el 2:53:22 del video de 10 horas de Dalto de CSS*/