body{
    padding: 0;
    margin: 0;
    padding-bottom: 200em;
}
section{
border: 2px dashed blueviolet;
width: 500px;
height: 400px;
margin: 5em auto;
}

div{
    border-radius: 5px;
    font-size: 20pt;
    font-weight: bold;
    color: #444;
    line-height: 1.5;
    padding: .5em;
    text-align: center;
    background-color: rgba(173, 216, 230, .7);
}
