*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12pt;
    
}
body{
    background-color: rgba(34, 34, 34, 0.678);
}

nav{
    left: 20px;
    
    width: 97.3%;
    height: 100px;
    border: 2px solid black;
    background-color:rgb(233, 127, 233);
    padding-top: 50px;
    padding-left: 50px;
    position: fixed;
    display: inline-block;
    z-index: 1;
    
}

.lista a{
    color: #fff;
    font-size: 25pt;
    text-decoration: none;
    text-align: center;
    padding-left: 100px;
    
}
ul{
    list-style: none;    
}
.inicio{
    
    float: left;
}
.contacto{
    float: left;
}
.about{
    float: left;
}
.help{
    float: left;
}
a:hover{
    background-color: rgb(160, 76, 160);
}

.info1{
    width: 70%;
    position: absolute;
    top: 120px;
    left: 20px;
    background-color: #ffd082;
    padding: 15px;
    text-align: justify;
    font-size: 14pt;
    outline: 2px solid #000;
}
.info2{
    width: 70%;
    left: 20px;;
    background-color: #ff7c7c;
    position: absolute;
    top: 460px;
    padding: 15px;
    text-align: justify;
    font-size: 40pt;
}

.info3{
    position: absolute;
    top: 837px;
    left: 20px;
    background-color: #88e1f2;
    width: 70%;
    padding: 15px;
    text-align: justify;
}



aside{
    background-color: #276825;
    position: absolute;
 
    width: 27%;
    left: 72%;
    top: 117px;
    height: 1310px;
    font-size: 12.5pt;
    padding: 15px;
    text-align: justify;
}
footer{
    background-color: rgb(61, 17, 63);
    position:absolute;
    left: 20px;
    top: 1430px;
    color: #fff;
    width: 100%;
    height: 80px;
    font-size: 15pt;
    padding-top: 30px;
    text-align: center;
}

/*Quedé en 4:06 video dalto*/